<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<table border='1' cellpadding="2">
		<tr>
			<td>姓名</td>
			<td>年龄</td>
		</tr>
		<tr>
			<td><%=data.uname%></td>
			<td><%=data.age%></td>
		</tr>
	</table>
</body>
</html>